body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  width: calc(33.333% - 40px);
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
